<nav class="navbar-expand-lg navbar navbar-dark bg-dark fixed-top text-center">

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center"
       id="navbarSupportedContent">
    <i-bs name="bootstrap-fill"
          class="text-primary"
          width="2rem"
          height="2rem">
    </i-bs>
    <i-bs name="plus"
          class="text-white"
          width="2rem"
          height="2rem">
    </i-bs>
    <img alt="Angular"
         height="30"
         class="mr-3"
         src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" />

    <ul class="navbar-nav ml-2">
      <li class="nav-item">
        <a class="nav-link"
           href="https://icons.getbootstrap.com/">Bootstrap Icons
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           href="https://www.npmjs.com/package/ngx-bootstrap-icons">NPM
        </a>
      </li>
    </ul>
  </div>
  <div class="float-right">
    <span class="text-light mr-3">version: {{ version }}</span>
  </div>
  <div class="float-right">
    <a class="nav-link"
       href="https://github.com/avmaisak/ngx-bootstrap-icons">
      <i-bs name="github"
            class="text-white"
            width="1.5rem"
            height="1.5rem">
      </i-bs>
    </a>
  </div>

</nav>

<div class="text-center container py-3"
     style="margin-top:70px">
  <div class="row">
    <div class="col-12 p-0 m-0">
      <div class="text-left">
        <h1 class="text-primary">
          Bootstrap Icons
        </h1>
        <p>For the first time ever, Bootstrap has its own icon library, custom designed and built for our components and
          documentation.</p>
      </div>
    </div>
  </div>
