<app-header></app-header>

<div class="container">

  <div class="row">
    <div class="col-3 p-0 m-0">
      <div class="input-group mb-3">
        <input type="text"
               class="form-control"
               placeholder="Search icon"
               aria-label="Search icon"
               aria-describedby="button-addon2"
               (change)="onSearch()"
               [(ngModel)]="search">
        <div class="input-group-append">
          <button class="btn btn-light border"
                  [disabled]="noSearchData"
                  (click)="onClear()"
                  id="button-addon2">
            <i-bs name="x"
                  class="position-ralative"
                  style="top:-5px !important">
            </i-bs>
          </button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <select class="form-control"
              [(ngModel)]="selectedColor">
        <option *ngFor="let clr of colors">{{ clr }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-12 p-0 m-0">
      <div class="alert alert-success text-center"
           *ngIf="showAlert">
        <p class="p-0 m-0">
          Code copied to clipboard!
          <i-bs name="x"
                class="text-secondary float-right cursor-pointer"
                (click)="toggleShowAlert()">
          </i-bs>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <ng-container *ngFor="let item of items">
      <div class="col-3 p-1">
        <div class="p-4 border text-center icon-item"
             [class.bg-secondary]="selectedColor === 'text-white-50'"
             style="min-height: 120px;">
          <!-- toggleShowCode -->
          <i-bs name="code-slash"
                class="position-absolute btn btn-light border"
                style="right:8px;top:8px;"
                width="20px"
                height="18px"
                (click)="onShowCode(item)"></i-bs>

          <!-- copy to clipboard -->
          <i-bs name="clipboard"
                class="position-absolute btn btn-light border"
                style="right:8px;top:52px;"
                width="20px"
                height="22px"
                (click)="onCopyToClipboard(htmlCode(item))"></i-bs>

          <!-- icon -->
          <i-bs [name]="item"
                class="icon-item"
                [width]="'2em'"
                [height]="'2em'"
                [class]="selectedColor"></i-bs>

          <b class="d-block mt-2">{{ item }}</b>

          <!-- code -->
          <div class="text-left border bg-light p-2 mt-2"
               *ngIf="btnCode(item)">
            <pre class="text-muted">{{ htmlCode(item) }}</pre>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
