<div class="container py-5">
	<div class="row">
		<div class="col-6 pt-5">
			<h1>Angular module for Bootstrap Icons</h1>
			<p>This module allows you to use the Bootstrap Icons in your angular application without additional
				dependencies.</p>

			<code *ngIf="!copied"
						class="badge badge-light px-5 py-4 w-100 ">
        {{ installScript }}
        <i-bs name="clipboard" class="float-right ms-5 clipboard cursor-pointer" (click)="copyToClipBoard()"></i-bs>
      </code>

			<div *ngIf="copied"
					 class="alert alert-success mt-2 text-center">
				install command copied!

				<i-bs name="x"
							class="float-right ms-5 cursor-pointer"
							(click)="copied = false"></i-bs>
			</div>

			<a href="https://github.com/avmaisak/ngx-bootstrap-icons#usage"
				 class="btn btn-outline-success mt-5">Getting started</a>

			<a href="https://github.com/avmaisak/ngx-bootstrap-icons"
				 class="btn btn-link mt-5 ms-3">GitHub repo</a>

			<a href="https://github.com/avmaisak/ngx-bootstrap-icons/releases"
				 class="btn btn-link mt-5 ms-3 text-muted">Latest version <b>{{ version }}</b></a>

		</div>

		<div class="col-6">
			<app-bs-image></app-bs-image>
		</div>
	</div>
</div>
